<% include ../partials/head.ejs %>
<body class="blue accent-1">
<div class="container">
  <h1 class="white-text center">Specific Weather</h1>
  <h3 class="white-text center">Your current forecast</h3>
  <figure class="icons center">
    <canvas id=<%= icon %> width="64" height="64"></canvas>
  </figure>
  <h4 class="white-text center"><%= summary %></h4>
  <h4 class="white-text center"><%= temp %> &degF</h4>


  <% include ../partials/script.ejs %>
  </div>
</body>
</html>
